/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&family=Ubuntu:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  background: none;
}

* {
  --base-font-size: 18px;
  --base-font-family: "Quicksand", sans-serif;
  --mono-font-family: "Fira Mono", monospace;
}

body {
  --border-color: rgba(0, 0, 0, 0.1);
  --prim-color: #1596ea;
  --prim-color-darken: #117fc6;
  --sec-color: #f1b441;
  --sec-color-darken: #eda316;
  --space: 3.5rem;
  --content-width: 860px;
  --header-height: 80px;
  --radius: 8px;
}

body.light-theme {
  /* --bg-color: #E8E5E8; */
  --bg-color: #fafafa;
  --bg-content-color: #f5f2f0;
  --bg-input-color: rgba(245, 242, 240, 0.6);
  --bg-code: #fffbf3;
  --bg-project-color: rgba(245, 242, 240, 0.4);
  --body-color: #1c2a41;
  --title-color: #0d131c;
  --link-color: #6b17e6;
}

body {
  --bg-color: #1c2b41;
  --bg-color: #12253b;
  --bg-content-color: #0d1e32;
  --bg-input-color: #0d1e32;
  --bg-code: rgba(0, 0, 0, 0.3);
  --bg-project-color: rgba(13, 30, 50, 0.6);
  --border-color: rgba(255, 255, 255, 0.1);
  --body-color: #e8e5e8;
  --title-color: #fff;
  --link-color: #af9cef;
}

@media (prefers-color-scheme: light) {
  body {
    /* --bg-color: #E8E5E8; */
    --bg-color: #fafafa;
    --bg-content-color: #f5f2f0;
    --bg-input-color: rgba(245, 242, 240, 0.6);
    --bg-code: #fffbf3;
    --bg-project-color: rgba(245, 242, 240, 0.4);
    --body-color: #1c2a41;
    --title-color: #0d131c;
    --link-color: #6b17e6;
  }
  body.dark-theme {
    --bg-color: #1c2b41;
    --bg-color: #12253b;
    --bg-content-color: #0d1e32;
    --bg-input-color: #0d1e32;
    --bg-code: rgba(0, 0, 0, 0.3);
    --bg-project-color: rgba(13, 30, 50, 0.6);
    --border-color: rgba(255, 255, 255, 0.1);
    --body-color: #e8e5e8;
    --title-color: #fff;
    --link-color: #af9cef;
  }
}
@media screen and (max-width: 650px) {
  html {
    --base-font-size: 16px;
  }
  body {
    --space: 2rem;
    --header-height: 60px;
  }
}
html {
  font-size: var(--base-font-size);
}

body {
  font-family: var(--base-font-family);
  font-weight: 400;
  line-height: 1.45;
}

p {
  margin-bottom: 1.25em;
}

h1,
h2,
h3,
h4,
h5 {
  transition: color 0.6s;
  color: var(--title-color);
  margin: 2.75rem 0 1rem;
  font-weight: 600;
  line-height: 1.15;
}

h1 {
  margin-top: 0;
  font-size: 1.802em;
}

h2 {
  font-size: 1.602em;
}

h3 {
  color: var(--prim-color);
  font-size: 1.424em;
}

h4 {
  font-size: 1.266em;
}

h5 {
  font-size: 1.125em;
}

.text-small {
  font-size: 0.889em;
}

.text-xSmall {
  font-size: 0.75em;
}

strong {
  font-weight: 600;
}

blockquote {
  border-left: 4px solid var(--border-color);
  padding-left: calc(var(--space) / 2);
  color: var(--title-color);
}

em {
  font-style: italic;
}

ul {
  list-style-type: disc;
  margin-left: 1.25em;
  margin-bottom: 1.25em;
}
ul li {
  margin-bottom: 0.6em;
}

ol {
  list-style-type: decimal;
  margin-left: 1.25em;
  margin-bottom: 1.25em;
}
ol li {
  margin-bottom: 0.6em;
}

.mono {
  font-family: var(--mono-font-family);
}

section h2:hover::before {
  color: var(--sec-color-darken);
}
section h2::before {
  content: "#";
  margin-right: 5px;
  padding-left: 3px;
  color: var(--sec-color);
  transition: 400ms;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: var(--bg-color);
  color: var(--body-color);
  transition: color 0.6s, background-color 0.6s;
  max-width: 970px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 1.5;
  overflow-x: hidden;
}
body .feather {
  background-color: transparent;
  border: 0;
  color: var(--body-color);
  cursor: pointer;
  position: relative;
  top: 4px;
}
body .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  height: 80px;
  position: relative;
  z-index: 99;
}
body .nav-item {
  color: var(--body-color);
  cursor: pointer;
  margin: 0 10px;
}
body footer {
  height: 170px;
  /*    position: sticky;
      bottom: 0;
      left: 0;
      width: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body footer p {
  margin-bottom: 0.8em;
}
body footer p a {
  color: var(--prim-color);
  font-weight: bold;
}

main {
  transition: color 0.6s, background-color 0.6s;
  z-index: 1;
}

.button {
  cursor: pointer;
  overflow: hidden;
  border: 0;
  padding: 6px 20px;
  display: inline-block;
  border-radius: var(--radius);
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.15), 1px 1px 15px 0 rgba(0, 0, 0, 0.05);
  transition: all 0.4s;
  position: relative;
  z-index: 1;
  min-width: 126px;
  text-align: center;
}
.button:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--radius);
  z-index: -2;
}
.button:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  transition: all 0.4s;
  z-index: -1;
}
.button:hover:before {
  width: 100%;
}
.button :focus {
  outline: 0;
}
.button::-moz-focus-inner {
  border: 0;
}
.button.button-primary {
  color: #e8e5e8;
  background-color: var(--prim-color);
  border: 1px solid var(--prim-color);
}
.button.button-primary:hover {
  border: 1px solid var(--prim-color-darken);
}
.button.button-primary::after {
  background-color: var(--prim-color);
}
.button.button-primary::before {
  background-color: var(--prim-color-darken);
}
.button.button-secondary {
  color: #000;
  background-color: var(--sec-color);
  border: 1px solid var(--sec-color);
}
.button.button-secondary:hover {
  border: 1px solid var(--sec-color-darken);
}
.button.button-secondary::after {
  background-color: var(--sec-color);
}
.button.button-secondary::before {
  background-color: var(--sec-color-darken);
}
.button.button-primary-outline {
  color: var(--prim-color);
  border: 1px solid var(--prim-color);
}
.button.button-primary-outline:hover {
  color: #e8e5e8;
}
.button.button-primary-outline::after {
  background-color: transparent;
}
.button.button-primary-outline::before {
  background-color: var(--prim-color);
}
.button.button-secondary-outline {
  color: var(--sec-color);
  border: 1px solid var(--sec-color);
}
.button.button-secondary-outline:hover {
  color: #000;
}
.button.button-secondary-outline::after {
  background-color: transparent;
}
.button.button-secondary-outline::before {
  background-color: var(--sec-color);
}

button:focus {
  outline: 0;
}

a {
  text-decoration: none;
  outline: 0;
  border: 0;
}

a:not(.button) {
  transition: opacity 0.2s;
}
a:not(.button):hover {
  opacity: 0.5;
}

img {
  max-width: 100%;
}

input:focus,
textarea:focus {
  outline: 0;
}

code,
pre {
  border-radius: var(--radius);
  color: var(--body-color);
  font-family: var(--mono-font-family);
  font-size: 1em;
}

pre {
  padding: 2em 2.5em;
  overflow: auto;
}

:not(pre) > code,
pre {
  background: var(--bg-content-color);
}

.content-box {
  background-color: var(--bg-content-color);
  max-width: var(--content-width);
  margin: 0 auto;
  transition: background-color 0.6s;
  padding: calc(var(--space) / 2);
  border-radius: var(--radius);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, background-color 0.3s, box-shadow 0.6s;
}

.text-center {
  text-align: center;
}

.space-bottom {
  margin-bottom: var(--space);
}

.space-bottom-x2 {
  margin-bottom: calc(var(--space) * 2);
}

.space-top {
  margin-top: var(--space);
}

.space-top-x2 {
  margin-top: calc(var(--space) * 2);
}

.box-shadow {
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
  /* box-shadow: 0 8px 12px 1px rgba(29,17,51,.04),0 3px 16px 2px rgba(9,32,77,.12),0 5px 10px -3px rgba(29,17,51,.12); */
  /* box-shadow: 0 8px 12px 1px rgba(29,17,51,.05),0 3px 16px 2px rgba(9,32,77,.05),0 5px 10px -3px rgba(29,17,51,.05); */
}

section#showcase {
  min-height: calc(100vh - 100px);
  display: flex;
  z-index: 1;
}
section#showcase .intro {
  margin-top: -100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section#showcase .intro h3,
section#showcase .intro h1 {
  margin-bottom: 1.3rem;
}
section#showcase .intro .navigate-buttons {
  margin-top: 1em;
}
section#showcase .intro .navigate-buttons .button:nth-child(2) {
  margin-left: 1em;
}

section#about h2 {
  margin-top: 0;
}
section#about .about-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  position: relative;
}
section#about .about-wrapper:before {
  content: "";
  width: 500px;
  height: 250px;
  position: absolute;
  right: -50px;
  bottom: -40px;
  z-index: -1;
  background-size: 40px;
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%231596ea' fill-opacity='0.4'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
section#about .about-wrapper:after {
  content: "";
  width: 500px;
  height: 250px;
  position: absolute;
  right: -50px;
  bottom: -40px;
  z-index: -1;
  background-size: 40px;
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%231596ea' fill-opacity='0.4'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
section#about .about-wrapper .personal-info {
  flex-basis: 60%;
}
section#about .about-wrapper .profile-image {
  flex-basis: 30%;
  position: relative;
  overflow: hidden;
  border-radius: var(--radius);
}
section#about .about-wrapper .profile-image img {
  border-radius: var(--radius);
  transition: transform 0.3s;
  display: block;
}
section#about .about-wrapper .profile-image img:hover {
  transform: scale(1.03);
}

@media screen and (max-width: 1024px) {
  section#about .about-wrapper::after {
    right: 0;
  }
}
@media screen and (max-width: 768px) {
  section#showcase .intro-image {
    max-width: 50%;
  }
  section#about .about-wrapper::after {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .about-wrapper {
    flex-direction: column-reverse;
  }
  .about-wrapper .profile-image {
    margin: 20px;
    max-width: 60%;
  }
  section#showcase .intro-image {
    display: none;
  }
  /* .intro-text {
      margin: auto;
    } */
  section#about .about-wrapper::after {
    display: none;
  }
}
.timeline {
  position: relative;
}
.timeline:after {
  content: "";
  position: absolute;
  width: 2px;
  background-color: var(--prim-color);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
}
.timeline .container {
  padding: 10px 50px;
  position: relative;
  background-color: inherit;
  width: 50%;
}
.timeline .container:after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -14px;
  background-color: var(--bg-color);
  border: 2px solid var(--prim-color);
  top: 49px;
  border-radius: 50%;
  z-index: 1;
}
.timeline .container:nth-child(odd) {
  left: 0;
}
.timeline .container:nth-child(odd):before {
  content: " ";
  height: 0;
  position: absolute;
  top: 45px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 20px 0 20px 20px;
  border-color: transparent transparent transparent var(--bg-content-color);
}
.timeline .container:nth-child(even) {
  left: 50%;
}
.timeline .container:nth-child(even):before {
  content: " ";
  height: 0;
  position: absolute;
  top: 45px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 20px 20px 20px 0;
  border-color: transparent var(--bg-content-color) transparent transparent;
}
.timeline .container:nth-child(even):after {
  left: -15px;
}
.timeline .container.education::after {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" fill="%231596ea"><path d="M622.34 153.2L343.4 67.5c-15.2-4.67-31.6-4.67-46.79 0L17.66 153.2c-23.54 7.23-23.54 38.36 0 45.59l48.63 14.94c-10.67 13.19-17.23 29.28-17.88 46.9C38.78 266.15 32 276.11 32 288c0 10.78 5.68 19.85 13.86 25.65L20.33 428.53C18.11 438.52 25.71 448 35.94 448h56.11c10.24 0 17.84-9.48 15.62-19.47L82.14 313.65C90.32 307.85 96 298.78 96 288c0-11.57-6.47-21.25-15.66-26.87.76-15.02 8.44-28.3 20.69-36.72L296.6 284.5c9.06 2.78 26.44 6.25 46.79 0l278.95-85.7c23.55-7.24 23.55-38.36 0-45.6zM352.79 315.09c-28.53 8.76-52.84 3.92-65.59 0l-145.02-44.55L128 384c0 35.35 85.96 64 192 64s192-28.65 192-64l-14.18-113.47-145.03 44.56z"/></svg>');
  background-repeat: no-repeat;
  background-size: 22px;
  background-position-x: 2px;
  background-position-y: 4px;
}
.timeline .container.work::after {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="%231596ea"><path d="M320 336c0 8.84-7.16 16-16 16h-96c-8.84 0-16-7.16-16-16v-48H0v144c0 25.6 22.4 48 48 48h416c25.6 0 48-22.4 48-48V288H320v48zm144-208h-80V80c0-25.6-22.4-48-48-48H176c-25.6 0-48 22.4-48 48v48H48c-25.6 0-48 22.4-48 48v80h512v-80c0-25.6-22.4-48-48-48zm-144 0H192V96h128v32z"/></svg>');
  background-repeat: no-repeat;
  background-size: 18px;
  background-position-x: 3.5px;
  background-position-y: 3px;
}
.timeline .container .content {
  overflow: auto;
  padding: 20px 30px;
  background-color: var(--bg-content-color);
  position: relative;
  border-radius: var(--radius);
}
.timeline .container .content h5 {
  margin-top: 1rem;
  margin-bottom: 0;
}
.timeline .container .content h5 .year {
  padding: 3px 5px;
  margin: 6px 0;
  border: 2px solid var(--sec-color);
  border-radius: var(--radius);
  display: block;
  width: max-content;
}
.timeline .container .content h6 {
  margin-bottom: 0.2em;
}
.timeline .container .content p {
  margin-bottom: 1em;
}

@media screen and (max-width: 600px) {
  .timeline::after {
    left: 31px;
  }
  .timeline .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }
  .container::before {
    left: 50px;
    border: medium solid white;
    border-width: 20px 20px 20px 0;
    border-color: transparent var(--bg-content-color) transparent transparent;
  }
  .container:nth-child(even)::after,
  .container:nth-child(odd)::after {
    left: 16.5px;
  }
  .container:nth-child(odd)::before {
    transform: rotate(180deg);
  }
  .container:nth-child(even)::before {
    left: 50px;
  }
  .container:nth-child(even) {
    left: 0%;
  }
  .timeline .container:nth-child(2n) {
    left: 0;
  }
  .timeline .container:nth-child(2n)::after {
    left: 16.5px;
  }
  .timeline .container:nth-child(2n)::before {
    left: 50px;
  }
}
table {
  border-spacing: 0 4px;
  color: var(--body-color);
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 0.8em;
}
table thead {
  color: var(--prim-color);
  font-weight: 800;
}
table thead th {
  padding: 10px 15px;
  text-align: left;
  margin: 10px 0;
}
table tbody tr {
  font-size: 0.95em;
  transition: 400ms;
  border-top-right-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.05);
}
table tbody tr:hover {
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.15), 1px 1px 15px 0 rgba(0, 0, 0, 0.05);
}
table tbody tr:hover td:first-of-type {
  border-left: 2px solid var(--sec-color);
}
table tbody tr th,
table tbody tr td {
  padding: 10px 15px;
  text-align: left;
  margin: 10px 0;
}
table tbody tr th:first-of-type,
table tbody tr td:first-of-type {
  border-left: 2px solid var(--prim-color);
  transition: 400ms;
}
table tbody tr .links {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  top: 4px;
}
table tbody tr .links a {
  margin: 1px 2px;
}
table tbody tr .links svg {
  width: 20px;
}

.repos-btn {
  margin: 1.5em auto;
}
.repos-btn .button {
  background: var(--prim-color);
  color: #e8e5e8;
}

@media (max-width: 768px) {
  table th,
  table td {
    padding: 10px 5px;
  }
  table th:nth-of-type(3),
  table td:nth-of-type(3) {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  table {
    padding: 0;
  }
  table tbody tr th,
  table tbody tr td {
    padding: 10px 5px;
  }
  table thead {
    display: none;
  }
  table tbody tr td:nth-child(2) {
    display: none;
  }
}
.fields {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}
.fields .half {
  width: 48%;
}
.fields .full {
  width: 100%;
}
.fields input,
.fields textarea {
  font-family: var(--base-font-family);
  width: 100%;
  margin: 1em 0;
  font-size: 1em;
  padding: 8px 27px;
  border-top-right-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  border: 0;
  border-left: 2px solid var(--prim-color);
  color: var(--body-color);
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.05), 1px 1px 15px 0 rgba(0, 0, 0, 0.05);
  background: var(--bg-input-color);
  transition: 400ms;
}
.fields input:focus,
.fields textarea:focus {
  border-left: 2px solid var(--sec-color-darken);
  padding-left: 20px;
}
.fields textarea {
  resize: none;
}
.fields .submit {
  margin: 1.5em auto;
}
.fields button {
  font-size: 1em;
  padding: 8px 27px;
  border: 0;
  font-family: var(--font-family);
}

@media screen and (max-width: 600px) {
  .fields {
    width: 100%;
  }
  .fields input,
  .fields textarea {
    border-radius: 0;
  }
}
.container-test {
  margin: calc(50vh - 213px) auto;
}
.container-test a {
  margin: 10px;
}

.big-prim {
  color: var(--prim-color);
  font-size: 3em;
}

.big {
  color: var(--body-color);
  font-size: 3em;
  text-decoration: underline;
  text-decoration-style: wavy;
}

.waves-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px; /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}

.waves .content {
  position: relative;
  height: 20vh;
  text-align: center;
  background-color: white;
}

/* Animation */
.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
  .content {
    height: 30vh;
  }
  h1 {
    font-size: 24px;
  }
}

/*# sourceMappingURL=styles.css.map */
