// COLORS

$yellow: #e6b31e;
$dark: #343434;
$darker: #262626;
$white: #fcfaf1;
$grey: #cacaca;
$navBg: rgba(54, 54, 54, 0.96);

// TYPOGRAPHY

$font: 'Roboto', sans-serif;

h1{
    margin: 0;
    font-size: 2rem;
    text-decoration: underline $yellow;
    text-underline-position: under;
    padding: 1.5rem;
    font-weight: 600;
}

h2{
    margin: 0;
    font-size: 2rem;
    font-weight: normal;
    padding: 0.7rem;
}

h4,h5{
    margin: 0;
    padding: 1rem 0.5rem 0 0.5rem;
}

p{
    margin: 0;
    padding: 1.5rem;
}

// GLOBAL STYLES

a{
    text-decoration: none;
    color: $white;
}

span{
    color: $yellow;
}

$transition: 400ms linear;

// BODY

body{
    margin: 0;
    font-family: $font;
    color: $white;
    background-color: $darker;
}

// BUTTONS

button{
    cursor: pointer;
    outline: 0;
    background: none;
    color: $yellow;
    border: 0.1rem solid $yellow;
    border-radius: 7px;
    width: 200px;
    text-transform: uppercase;
    font-family: $font;
    transition: $transition;
    font-size: 1rem;
    padding: 0.7rem 0;
    margin: 0.7rem;
    &:hover{
        background: $yellow;
        color: $white;
    }
}

// HEADER

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3.5rem;
    font-size: 1.5rem;
    .navBtn{
        z-index: 1;
        a{
            font-size: 2rem;
            transition: $transition;
            &:hover{
                color: $yellow;
            }
        }
    }
    #closesideNav{
        display: none;
    }
}

// SIDE NAV

.side-nav{
    width: 0;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    background: $navBg;
    transition: $transition;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    a{
        font-size: 1.4rem;
        padding: 0.5rem;
        transition: $transition;
        text-transform: uppercase;
        font-weight: 800;
        &:hover{
            color: $yellow;
            letter-spacing: 0.2rem;
        }
    }
    .active{
        color: $yellow;
    }
}

// FOOTER

footer{
    text-align: center;
    font-size: 1.1rem;
    padding: 1.5rem;
    margin: 0;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}