@import 'config';


// GLOBAL

* {
    box-sizing: border-box;
}

body {
    font-family: $font;
    margin: 0;
}

section {
    padding-top: 4em;
}



// HIDDEN ITEMS
.alert {
    text-align: center;
    padding: 10px;
    background: $color-green;
    color: $color-light;
    margin-bottom: 10px;
    display: none;
}

#iemessage {
    display: none;
    width: 50%;
    margin: 2em auto auto auto;
    text-align: center;
    color: $color-primary;
    background-color: $color-dark;
    padding: 2em;
    border-radius: 24px;
}

.opennav {
    display: none;
}
.closenav {
    display: none;
    float: right;
    padding-right: 1em;
}
.hidden{
    visibility: hidden;
}

// SHOWCASE
#showcase {
    height: 100vh;
    @include gradient-bg-primary();
    .container {
        max-width: 85% !important;
        display: grid;
        grid-template-columns: 60% auto;
        position: relative;
        top: 30%;
        .showcase-text {
            align-self: center;
            h2 {
                margin-bottom: 1em;
            }
        }
        a{
            display: block;
            text-align: center;
        }
        .btn-outline{
            @include btn-primary-outline();
        }
        .showcase-image {
            text-align: center;
            img {
                max-width: 100%;
                border-radius: 50%;
                border: 5px solid $color-primary;
            }
        }
    }
}


// NAVBAR
.navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    .logo {
        display: inline-block;
        color: $color-primary;
        padding: 0 0 0 1em;
        font-size: 1.2em;
    }
    a {
        float: right;
        display: block;
        z-index: 1;
        text-decoration: none;
        text-align: center;
        font-size: 1em;
        color: $color-primary;
        padding: 1em 1em;
    }
    ul {
        margin: 8px 0 0 0;
        list-style: none;
        float: right;
        li {
            display: inline-block;
        }
    }
    .fas {
        font-size: 2em;
    }
}

.navbar-nav {
    padding-right: 1em;
    a {
        text-transform: uppercase;
        border-bottom: 1px solid transparent;
    }
    a:hover {
        color: $color-light;
        transition: all 0.5s;
        padding-top: 1px;
        border-bottom: 1px solid $color-light;
    }
}

// NAVBAR AFTER SCROLL
.nav-colored {
    background: $color-light;
    box-shadow: 0px 3px 3px $color-primary;
    transition: $transition;
    .navbar-nav a:hover {
        color: $color-primary;
        border-bottom: 1px solid $color-primary;
    }
}

.nav-transparent {
    background: transparent;
    transition: $transition;
}

// NAVBAR SIDENAV
.side-nav {
    width: 0;
    height: 100%;
    opacity: 1;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 100px;
    transition: $transition;
    @include gradient-bg-primary();
    a {
        display: block;
        text-decoration: none;
        padding: 0.5em;
        font-size: 1.5em;
        color: $color-primary;
        text-align: center;
    }
    a:hover {
        color: $color-light;
    }
}

.container{
        margin-left: auto;
        margin-right: auto;
        padding: 1em 1em 4em 1em;
}

p {
    margin: 0;
}

h1 {
    margin: 0;
    color: $color-primary;
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

h2 {
    margin: 0;
    font-size: 1.2em;
    color: $color-primary;
    margin-bottom: 3em;
}




#about{
    h1{
        @include sectionh1();
    }
    .container {
        max-width: 70%;        
        p {
            line-height: 2;
            font-size: 1.1em;
            span {
                font-weight: bold;
                color: #f8b500;
            }
        }
    }   
}


// CONTACT
#contact{
    h1{
        @include sectionh1();
    }
    .contact {
        max-width: 70%;
        margin-left: auto;
        margin-right: auto;
        padding: 1em 1em 4em 1em;
        form {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 30px;
            label {
                display: block;
            }
            .full {
                grid-column: 1 / 3;
            }
            form,
            input,
            textarea,button {
                width: 100%;
                padding: 1em 0 1em 0;
                border: 0;
                border-bottom: 1px solid $color-primary;
                outline: 0;
                font-family: $font;
            }
            ::placeholder {
                font-family: $font;
                padding-left: 1em;
            }
            input:focus,
            textarea:focus {
                color: $color-primary;
            }
            .btn{
                @include btn-primary();
            }
        }
    }
}


#projects {
    @include gradient-bg-secondary();
    h1{
        @include sectionh1();
    }
    .container {
        max-width: 80%;
    }
    .boxes {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 30px;
        justify-content: center;
        align-items: center;
        .box {
            background: white;
            border-radius: 18px;
            -webkit-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19);
            box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
            display: grid;
            grid-template-rows: auto 200px auto;
            transition: all 0.5s;
            img {
                width: 100%;
                transition: all 0.5s;
                border-top-left-radius: 18px;
                border-top-right-radius: 18px;
                -webkit-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19);
                box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
            }
            .text {
                padding: 1em;
                h4 {
                    margin-top: 1em;
                    margin-bottom: 1em;
                    color: $color-primary;
                }

            }
            ul {
                text-align: center;
                padding: 0;
                li {
                    display: inline-block;
                    i {
                        font-size: 2em;
                        padding: 0 10px;
                        color: $color-primary;
                    }
                }
            }
        }
        .box:hover {
            transform: translatey(-0.9em);
            transition: $transition;
        }
    }
}


//FOOTER 

footer {
    @include gradient-bg-secondary();
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    .footer-content{
        .footer-text{
            p {
                text-align: center;
                padding: 1em;
                color: $color-light;
                line-height: 1.5;
                font-size: 1.2em;
                span {
                    color: $color-primary;
                }
            }
        }
        .footer-icons{
            text-align: center;
            a{
                color: $color-primary;
            }
        }
    }

   
}



@media only screen and (max-width: 1200px) {
    #projects .boxes {
        grid-template-columns: 1fr 1fr 1fr;
    }
}


@media only screen and (max-width: 922px) {
    #projects .boxes {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: 910px) {
    .opennav {
        display: none !important;
    }
}

@media only screen and (max-width: 910px) {
    .navbar-nav {
        display: none;
    }
    .opennav {
        display: block;
        float: right;
        padding-right: 1em;
    }
}

@media only screen and (max-width: 600px) {
    #projects .boxes {
        grid-template-columns: 1fr;
    }
}


@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    #showcase,
    #about,
    #projects,
    #contact,
    footer,
    #navbar {
        display: none;
    }
    #iemessage {
        display: block;
    }
}



@media only screen and (max-width: 800px) {
    #showcase .container {
        grid-template-columns: 1fr;
        position: relative;
        top: 100px;
    }
    #showcase .container .showcase-text {
        text-align: center;
    }
    #showcase .container .showcase-text .btn-outline{
        margin: auto;
    }
    #showcase .container .showcase-text h1 {
        font-size: 2em;
    }
    #showcase .container .showcase-image {
        grid-row-start: 1;
    }
}

@media only screen and (max-height: 700px) {
    #showcase .container .showcase-text h1 {
        font-size: 4vh;
    }
    #showcase .container .showcase-text h2 {
        font-size: 3vh;
    }
    #showcase .container .showcase-text .btn-outline{
        font-size: 3vh;
    }
    #showcase .container .showcase-image img {
        margin-bottom: 2em;
        max-width: 50%;
    }
}

@media (max-height: 486px) and (max-width: 750px) {
    #showcase .container {
        grid-template-columns: 60% auto;
        top: 30%;
    }
    #showcase .container .showcase-text {
        grid-row-start: 1;
    }
}

@media (max-height: 535px) and (max-width: 281px) {
    #showcase .container .showcase-image {
        display: none;
    }
}