.text-center {
  text-align: center;
}

.space-bottom {
  margin-bottom: var(--space);
}

.space-bottom-x2 {
  margin-bottom: calc(var(--space) * 2);
}

.box-shadow {
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
  /* box-shadow: 0 8px 12px 1px rgba(29,17,51,.04),0 3px 16px 2px rgba(9,32,77,.12),0 5px 10px -3px rgba(29,17,51,.12); */
  /* box-shadow: 0 8px 12px 1px rgba(29,17,51,.05),0 3px 16px 2px rgba(9,32,77,.05),0 5px 10px -3px rgba(29,17,51,.05); */
}